In [1]:
import pandas as pd

In [2]:
#extracting columns from adult.names
cols = []
with open('./data/adult.names', 'r') as names:
    for line in names:
        if ':' in line and '|' not in line:
            cols.append(line.split(':')[0])

In [3]:
#load train data:
df_train = pd.read_csv('./data/adult.data', names=cols+['earn_over_50k'], index_col=False)

In [4]:
df_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,earn_over_50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
#convert target to 0/1:
df_train['earn_over_50k'] = df_train['earn_over_50k'].apply(lambda x: 1 if x == ' >50K' else 0)

In [6]:
df_train['earn_over_50k']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: earn_over_50k, Length: 32561, dtype: int64

In [7]:
#load test data:
df_test = pd.read_csv('./data/adult.test', names=cols+['earn_over_50k'], index_col=False, skiprows=[0])

In [8]:
df_test['earn_over_50k'] = df_test['earn_over_50k'].apply(lambda x: 1 if x == ' >50K.' else 0)

In [9]:
#fixing column names:
df_train.columns = df_train.columns.str.lower().str.replace(' ', '').str.replace('-', '_')
df_test.columns = df_test.columns.str.lower().str.replace(' ', '').str.replace('-', '_')

In [10]:
df_train.select_dtypes(include='object').columns.tolist()

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [11]:
cat_cols = df_train.select_dtypes(include='object').columns.tolist()
num_cols = df_train.select_dtypes(exclude='object').columns.tolist()

In [13]:
for col in cat_cols:
    print(col)
    df_train[col] = df_train[col].str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')
    df_test[col] = df_train[col].str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

workclass
education
marital_status
occupation
relationship
race
sex
native_country

In [16]:
#replacing ? with nan:
df_train.replace('?', pd.np.nan).isnull().sum()

/var/folders/_2/sdzrwz45427b53fcr8rggplm0000gq/T/ipykernel_50871/2265921939.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_train.replace('?', pd.np.nan).isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
earn_over_50k        0
dtype: int64

In [20]:
df_train.native_country.value_counts()

united_states                 29170
mexico                          643
?                               583
philippines                     198
germany                         137
canada                          121
puerto_rico                     114
el_salvador                     106
india                           100
cuba                             95
england                          90
jamaica                          81
south                            80
china                            75
italy                            73
dominican_republic               70
vietnam                          67
guatemala                        64
japan                            62
poland                           60
columbia                         59
taiwan                           51
haiti                            44
iran                             43
portugal                         37
nicaragua                        34
peru                             31
france                           29
greece                           29
ecuador                          28
ireland                          24
hong                             20
cambodia                         19
trinadad&tobago                  19
laos                             18
thailand                         18
yugoslavia                       16
outlying_us(guam_usvi_etc)       14
honduras                         13
hungary                          13
scotland                         12
holand_netherlands                1
Name: native_country, dtype: int64