In [1]:
import pandas as pd

In [2]:
#extracting columns from adult.names
cols = []
with open('./data/adult.names', 'r') as names:
    for line in names:
        if ':' in line and '|' not in line:
            cols.append(line.split(':')[0])

In [3]:
#load train data:
df_train = pd.read_csv('./data/adult.data', names=cols+['earn_over_50k'], index_col=False)

In [4]:
df_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,earn_over_50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
#convert target to 0/1:
df_train['earn_over_50k'] = df_train['earn_over_50k'].apply(lambda x: 1 if x == ' >50K' else 0)

In [6]:
df_train['earn_over_50k']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: earn_over_50k, Length: 32561, dtype: int64

In [7]:
#load test data:
df_test = pd.read_csv('./data/adult.test', names=cols+['earn_over_50k'], index_col=False, skiprows=[0])

In [8]:
df_test['earn_over_50k'] = df_test['earn_over_50k'].apply(lambda x: 1 if x == ' >50K.' else 0)

In [9]:
#fixing column names:
df_train.columns = df_train.columns.str.lower().str.replace(' ', '').str.replace('-', '_')
df_test.columns = df_test.columns.str.lower().str.replace(' ', '').str.replace('-', '_')

In [10]:
df_train.select_dtypes(include='object').columns.tolist()

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [11]:
cat_cols = df_train.select_dtypes(include='object').columns.tolist()
num_cols = df_train.select_dtypes(exclude='object').columns.tolist()

In [13]:
for col in cat_cols:
    print(col)
    df_train[col] = df_train[col].str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')
    df_test[col] = df_train[col].str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')

workclass
education
marital_status
occupation
relationship
race
sex
native_country

In [14]:
df_train.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,earn_over_50k
0,39,state_gov,77516,bachelors,13,never_married,adm_clerical,not_in_family,white,male,2174,0,40,united_states,0
1,50,self_emp_not_inc,83311,bachelors,13,married_civ_spouse,exec_managerial,husband,white,male,0,0,13,united_states,0
2,38,private,215646,hs_grad,9,divorced,handlers_cleaners,not_in_family,white,male,0,0,40,united_states,0
3,53,private,234721,11th,7,married_civ_spouse,handlers_cleaners,husband,black,male,0,0,40,united_states,0
4,28,private,338409,bachelors,13,married_civ_spouse,prof_specialty,wife,black,female,0,0,40,cuba,0